
.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
/*Container*/
.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}














.result-items {
	position: relative;
	padding: 16px;
	border: 1px solid #898989;
	margin: 16px;
	text-align: center;
	min-width: 200px;
	text-decoration: none;
	box-shadow: 2px 2px 2px #898989;
}


.image-wrapper {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	justify-content: center;
}
/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
/*Show and hide*/
.show {
	display: inline-block;
}
.hide {
	display: none;
}






.search-label {
	position: relative;
}

.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}


.container input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}


/* Results */


.image {
	width: 100px;
	height: 100px;
}



.results-container {
	margin: 10px 25px;
	flex: auto;
	flex-wrap: wrap;
}

.card-des{
	text-align: center;
	border-color: green ;
	border-style: solid ;
	border-width: 3px;
	margin: 10px 25px;
}

.text-style{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}